.content_group_container,
.group_content_container {
  width: 100%;
}

.title_group {
  color: var(--title-color);
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.richParagraph {
  font-size: 1.4rem;
  color: var(--paragraph-color);
  margin-bottom: 0.7rem;
}

.span_text {
  color: var(--accent-color);
}

.link_tag {
  text-decoration: underline;
  color: var(--link-color);
  cursor: pointer;
}
